doctype html
html
  head
    meta(
      name    = 'viewport'
      content = 'width=devicewidth,initial-scale=1,minimum-scale=1,maximum-scale=1'
    )
    link(
      rel     = 'stylesheet'
      href    = 'holy-grail.css'
    )

  body
    header  
    #cnt
      main
      nav
      aside    
    footer
