doctype html
html
  // HEAD
  head
    // TITLE
    title

    // META
    meta(
      charset = 'utf-8'
    )
    meta(
      name    = 'viewport'
      content = 'width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=2'
    )

    // SCRIPTS
    script(
      type    = 'module'
      src     = 'https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js'
    )
    script(
      nomodule= ''
      src     = 'https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js'
    )

    // CSS
    link(
      rel     = 'stylesheet'
      href    = '/assets/css/flexbox-reset.css'
    )
    link(
      rel     = 'stylesheet'
      href    = 'https://fonts.googleapis.com/icon?family=Material+Icons'
    )
    link(
      rel     = 'stylesheet'
      href    = 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap'
    )
    link(
      rel     = 'stylesheet'
      href    = '/assets/css/main.min.css'
    )
      
  // BODY
  body

    #ankh

    // LOADER
    // ..until replaced by app
    .ui-progress
      progress( value = '0' )
      .info
        span.type
        span.file

    // SCRIPTS
    script( src= '/assets/js/app.min.js')
    
