@font-face
  ff Frutiger
  fst normal
  fw 400
  src url(/assets/fonts/frutiger/FrutigerLTPro-Roman.woff2) format('woff2')

@font-face
  ff Frutiger
  fst normal
  fw bold
  src url(/assets/fonts/frutiger/FrutigerLTPro-Bold.woff2) format('woff2')

@font-face
  ff Frutiger
  fst normal
  fw 300
  src url(/assets/fonts/frutiger/FrutigerLTPro-Light.woff2) format('woff2')