/**
 *  UICAROUSEL STYL
 *  @AUTHOR faeb187
 */
.ui-carousel
  mrg 3em auto 3em
  h   200px
  pos relative
  psp 1000px

  > div
    w     100%
    h     100%
    pos   absolute
    trfs  preserve-3d

    figure
      mrg 0
      dsp block
      pos absolute 10px auto auto 10px
      w   186px
      h   176px
      brd 2px solid #000
