/**
 *  MAIN STYL
 *  @DESC   index styl
 *  @AUTHOR faeb187
 */

// @IMPORT defaults
@import './alias'
@import './variables'
@import './app'
@import './lang'
@import './list'
@import './nav'
@import './slider'