/**
 *  MAIN styl
 *  @DESC   index styl
 *  @AUTHOR faeb187
 */

// @IMPORT defaults
@import './alias'
@import './colors'
@import './bekb/colors'
@import './variables'
@import './app'
@import './icon'
@import './lang'
@import './list'
@import './nav'
@import './slider'