/**
 *  MAIN styl
 *  @DESC   index styl
 */
@import './alias'
@import './variables'
@import './colors'
@import './bekb/colors'
@import './details'
@import './app'
@import './icon'
@import './lang'
@import './list'
@import './nav'
@import './search'
@import './slider'
@import './table'