/*
  @OVERWRITE  UI progress
  @AUTHOR     faeb187
*/
.ui-progress
  progress
    &::-webkit-progress-bar
      bc    md-blue-300
      h     1rem
      w     20rem

    &::-webkit-progress-value
      bc    md-blue-900
