.ui-slideshow
  w   100vw
  ovr hidden
  fx  1 1 auto

  ul
    fxd   row
    fx    1 1 auto
    h     18rem
    tra   margin-left .4s ease-in-out
    
    li
      fx    0 1 auto
      
      img
        w     100vw
        maxw  none
