.ui-table
  tbll fixed
  w 100%

  thead
    pos absolute
    lft -9999px
    top -9999px

    th
      fs $fs-small
      ta left

  tbody
    dsp block
    tr
      brdb 1px $grey-03 solid
      dsp flex
      fxd row
      fxw wrap
      pdg $pdg

      td
        dsp block
        pos relative
        pdg 'calc(%s / 2) %s' % $pdg
        pdgt 'calc(%s * 2)' % $pdg
        w 40%

        &:before
          cnt attr(data-lang-rendered)
          pos absolute
          lft 0
          fs $fs-small
          fw $fw-bold
          btm 25px // todo

        &.currency-chf:before
          content: 'CHF '

+above('l')
  .ui-table
    th
    td
      ovr hidden
      tovr ellipsis
      ws nowrap

    thead
      dsp table-header-group
      pos static

      th
        pdg $pdg 0
        pdgr $pdg 
      
    tbody
      dsp table-row-group

      tr
        brdb none
        brdt 1px $grey-03 solid
        dsp table-row

        td
          dsp table-cell
          pdg $pdg 0
          pdgr $pdg 
          ta left

          &:before
            dsp none
            flt none

          &:nth-child(odd)
            bc transparent