/*
	@TPL		holy-grail
	@AUTHOR	faeb187
 */

// @IMPORTS
@import '../../styl/alias'

//  @STYL
body
  h   100vh
  
body
#cnt
  dsp flex
  fxd column

#cnt
main
  fx  1

nav
  fxo -1

+above( 'l' )
  
  #cnt
    fxd	row

  
  nav
  aside
    fx	0 0 12em
