/**
 *  ALIASES STYL
 *  @desc   rucksack css aliases
 *  @author faeb187
 */

// aliases
@alias
  ai    align-items
  ani   animation
  anips animation-play-state
  anid  animation-delay
  apr   appearance
  bi    background-image
  bc    background-color
  bg    background
  bga   background-attachment
  bgp   background-position
  bgr   background-repeat
  bgs   background-size
  brad  border-radius
  btrr  border-top-right-radius
  btlr  border-top-left-radius
  bblr  border-bottom-left-radius
  bbrr  border-bottom-right-radius
  brd   border
  brdb  border-bottom
  brdbw border-bottom-width
  brdc  border-color
  brdl  border-left
  brdr  border-right
  brds  border-style
  brdt  border-top
  brdrw border-right-width
  bs    box-shadow
  bsiz  box-sizing
  btm   bottom
  c     color
  ci    counter-increment
  clr   clear
  cnt   content
  cr    counter-reset
  curs  cursor
  dly   transition-delay
  dsp   display
  fd    font-display
  ff    font-family
  flr   filter
  flt   float
  fr    font-range
  fs    font-size
  fst   font-style
  fsm   font-smoothing
  fw    font-weight
  fx    flex
  fxac  align-content
  fxai  align-items
  fxas  align-self
  fxd   flex-direction
  fxf   flex-flow
  fxjc  justify-content
  fxo   order
  fxw   flex-wrap
  h     height
  lft   left
  lh    line-height
  ls    list-style
  mrg   margin
  mrgb  margin-bottom
  mrgl  margin-left
  mrgr  margin-right
  mrgt  margin-top
  maxh  max-height
  minh  min-height
  minw  min-width
  maxw  max-width
  ovr   overflow
  ovrx  overflow-x
  ovry  overflow-y
  o     opacity
  out   outline
  pdg   padding
  pdgb  padding-bottom
  pdgl  padding-left
  pdgr  padding-right
  pdgt  padding-top
  pe    pointer-events
  pos   position
  psp   perspective
  pv    progress-value
  res   resize
  rgt   right
  tbll  table-layout
  ta    text-align
  tovr  text-overflow
  tra   transition
  trf   transform
  trfo  transform-origin
  trfs  transform-style
  ts    text-shadow
  txtt  text-transform
  txtd  text-decoration
  usl   user-select
  va    vertical-align
  vis   visibility
  w     width
  ws    white-space
  z     z-index
