html
body
#ankh
  h 100vh

body
  ff $ff
  fs $fs
  fw $fw-thin

*
  brd 0
  bsiz border-box
  mrg 0
  pdg 0

.hidden
[data-fx='out']
  vis hidden

a
  &:link
  &:visited
  &:hover
  &:active
    c #000
    curs pointer
    txtd none

form
  pdg $pdg 2*$pdg

img
  maxw 100%

li
ul
  ls none

#logo
  pos absolute 0
  lft $mrg
  top 2*$mrg
  w 10rem

  +above('s')
    w 20rem