html
body
#ankh
  h 100%
  ovr hidden

body
  ff $ff
  fs $fs
  fw $fw-normal

*
  brd 0
  bsiz border-box
  mrg 0
  pdg 0

.hidden
[data-fx='out']
  pos absolute
  vis hidden
  lft -9999px

a
  &:link
  &:visited
  &:hover
  &:active
    c #000
    txtd none

ul
li
  ls none

/*
#cnt
#f
  w $w-cnt

#h
  fxai  center
  pos relative
  w 100vw

  #hTop
    brdt 8px $color-01 solid
    fxd row
    fxjc space-between
    h 6.5rem
    pos relative
    w 90vw

    #logo
      mrgt $mrg
      w 12rem

    #hTopRight
      w 24rem

      #profile
        bc $color-01
        c $white
        pdg 2 * $pdg 0
        pdgl 2 * $pdg

        #profileInner
          fxd row

          .ui-icon
            w 2rem
            h 2rem
            mrgr $mrg

          #profileUsername
            fs $fs-big
            fw $bold
            lh 21px
      
      #search
        w 100%

#toolbar
  fxd row
  fxjc flex-end
  fxai center
  mrg $mrg ($mrg / 2)

.ui-html-box
  bc $grey-04
*/