html
body
#ankh
  h 100vh

body
  ff $ff
  fs $fs
  fw $fw-normal

*
  brd 0
  bsiz border-box
  mrg 0
  pdg 0

.hidden
[data-fx='out']
  pos absolute
  //  vis hidden
  lft -9999px

a
  &:link
  &:visited
  &:hover
  &:active
    c #000
    curs pointer
    txtd none

ul
li
  ls none