$breadcrumbH = 36px

.corner
  bc $white
  cnt ''
  pos absolute
  top 0
  btm 0
  w $breadcrumbH
  h $breadcrumbH
  trf scale(.7) rotate(45deg)
  z 1

.ui-breadcrumb
  ovr hidden
  pos relative
  mrgt $mrg * 2
  pdgl ($breadcrumbH / 2)
  mrgl ($breadcrumbH / -2)

  &:before
    @extend .corner
    bc transparent
    lft 0

  a
    bc $white
    c $grey-01
    dsp block
    fs ($breadcrumbH / 3)
    fw $fw-thin
    lh $breadcrumbH
    pos relative
    pdg 0 10px 0 60px
    ws nowrap

    &.active
      bc $grey-04
      c $black
      fw $fw-bold

      &:after
        bc $grey-04

    &:after
      @extend .corner
      rgt ($breadcrumbH / -2)
      bs 2px -2px 0 2px $grey-04, 3px -3px 0 2px rgba($white, .1)
      brad 0 5px 0 50px

  &.numbered
    cr nums
    
    a
      pdgl 45px

      &:before
        pos absolute
        top 0
        btm 0
        lft 30px
        cnt counter(nums)
        ci nums

  &.readonly
    a
      curs default

+above('l')
  .ui-breadcrumb
    fxd row

    &:before
      bc $white