.ui-button
  bc $grey-04
  c $black
  curs pointer
  fxai center
  pdg $pdg
  fs $fs-big
  
  &:hover
    bc darken($grey-04, $hoverDarkenAmount)

  &.primary
    bc $color-01
    c $white

    &:hover
      bc darken($color-01, $hoverDarkenAmount)

.ui-button-group
  fxd row
  fxjc flex-end
  mrgt $mrg
  pdgt $pdg
  brdt 1px $color-01 solid

  button:not(:last-child)
    mrgr ($mrg / 2)