.ui-button
  c $black
  curs pointer
  fs $fs-big
  
  /*&:hover
    bc darken(md-white, $hoverDarkenAmount)*/

  &.primary
    bc $color-01
    c $white

    &:hover
      bc darken($color-01, $hoverDarkenAmount)

.ui-button-group
  brdt 1px $color-01 solid

#buttonSliderToggle
#buttonSliderToggleX
  mrg $mrg