.ui-carousel
  mrg auto
  w 400px
  h 140px
  pos relative
  psp 1000px

  > div
    w     100%
    h     100%
    pos   absolute
    trfs  preserve-3d

    .ui-carousel-item
      bc rgba(blue, .5)
      dsp block
      lft 10px
      mrg 0
      pos absolute auto
      w   400px
      h   120px

      &:nth-child(2)
        bc rgba(green, .5)
      &:nth-child(3)
        bc rgba(yellow, .5)
      &:nth-child(4)
        bc rgba(red, .5)
      &:nth-child(5)
        bc rgba(brown, .5)