.ui-chess
	bc darkslategray
	pdg 2*$pdg 0

.ui-chess-board
	curs pointer
	dsp grid
	gtc repeat(8, 1fr)
	mrg auto
	h 400px
	w 400px

.ui-chess-board-square
	pos relative

.ui-chess-board-square-light
	bc #fff

.ui-chess-board-square-dark
	bc #dbdadc

.ui-chess-board-piece
	ff 'Arial Unicode MS'
	fs 300%
	
	mrgl 4px
	mrgt -8px
	
	pos absolute