.ui-fab
  pos fixed
  btm "calc(%s + 4px)" % $icon-h
  rgt "calc(%s + 10px)" % $icon-w
  w   $icon-w

  .ui-button
    brad 50%
    
    &:hover + .ui-list
      o   1
      vis visible

  .ui-list
    pos absolute
    w 200px
    
    btm "calc(%s + 4px)" % $icon-h
    rgt "calc(%s + 10px)" % $icon-w
    
    o 0
    vis hidden
    tra .2s

    // @todo extends from list style
    li
      bc $white
      brdb 1px md-grey-200 solid
      pdg $pdg

      &:last-child
        brdb none