.ui-flower
	bc #222
	pos relative
	h 340px
	
	div
		pos absolute 0
		top calc(50% - 50px)
		lft calc(50% - 50px)
		brd 2px #fff solid
		brad 50%
		w 100px
		h 100px

	#m
		brdtc rgba(55, 189, 252, .8)
		brdlc rgba(133, 233, 73, .8)
		brdrc rgba(216, 66, 200, .8)
		brdbc rgba(252, 22, 61, .8)

	#n-n
		trf translateY(-49px)
		brdc rgba(55, 189, 252, .8)

	#n-ne
		trf translateY(-49px) rotate(60deg)
		trfo 50% calc(100% - 1px)
		brdc rgba(122, 89, 219, .8)

	#n-nw
		trf translateY(-49px) rotate(-60deg)
		trfo 50% calc(100% - 1px)
		brdc rgba(44, 215, 87, .8)

	#n-s
		trf translateY(49px)
		brdc rgba(252, 22, 61, .8)

	#n-se
		trf translateY(49px) rotate(-60deg)
		trfo 50% 1px
		brdc rgba(255, 31, 181, .8)

	#n-sw
		trf translateY(49px) rotate(60deg)
		trfo 50% 1px
		brdc rgba(255, 255, 87, .8)

	#o-n
		trf translateY(-98px)
		brdc rgba(55, 189, 252, .8)

	#o-ne1
		trf translateY(-98px) rotate(60deg)
		trfo 50% calc(100% - 1px)
		brdc rgba(63, 113, 234, .8)

	#o-ne2
		trf translateY(-98px) rotate(60deg)
		trfo 50% calc(150% - 2px)
		brdc rgba(122, 89, 219, .8)

	#o-nw1
		trf translateY(-98px) rotate(-60deg)
		trfo 50% calc(100% - 1px)
		brdc rgba(45, 208, 145, .8)

	#o-nw2
		trf translateY(-98px) rotate(-60deg)
		trfo 50% calc(150% - 2px)
		brdc rgba(44, 215, 87, .8)

	#o-s
		trf translateY(98px)
		brdc rgba(252, 22, 61, .8)

	#o-se1
		trf translateY(98px) rotate(-60deg)
		trfo 50% 1px
		brdc rgba(255, 26, 127, .8)
			
	#o-se2
		trf translateY(98px) rotate(-60deg)
		trfo 50% calc(-50% + 2px)
		brdc rgba(255, 31, 181, .8)

	#o-sw1
		trf translateY(98px) rotate(60deg)
		trfo 50% 1px
		brdc rgba(253, 119, 32, .8)

	#o-sw2
		trf translateY(98px) rotate(60deg)
		trfo 50% calc(-50% + 2px)
		brdc rgba(255, 255, 87, .8)

	#o-e
		trf translateX(84.870489570875px) /* 49 * sqrt(3) px, to support IE */
		trfo 50% 100%
		brdc  rgba(216, 66, 200, .8)

	#o-w
		trf translateX(-84.870489570875px) /* -49 * sqrt(3) px, to support IE */
		trfo 50% 100%
		brdc rgba(133, 233, 73, .8)