.ui-grid
  dsp grid

.ui-grid-inline
  dsp inline-grid

#header
#footer
  bc #eee // tmp

#header
  fxai center
  grid-area 2 / 2 / 4 / 24
  grid-template-columns repeat(5, 1fr)

+above('l')
  #header
    grid-area 2 / 2 / 6 / 24
    grid-template-rows repeat(2, 1fr)

#logoSmall
  w 32px

/*
#langMobile
  a
    dsp inline-grid
    fxjc center
    fxac center
    fs 16px
    &.active
      bc $color-01
      c $white
*/