.ui-grid
  dsp grid

.ui-grid-inline
  dsp inline-grid

#header
  grid-area 2/1/4/25
  grid-template-columns repeat(24, 1fr)

+above('l')
  #header
    grid-row 2/8
    grid-template-rows repeat(6, 1fr)

#logo
#logoSmall
  align-self center

#logoSmall
  grid-column-start 2
  w 32px

#logo
  grid-column 2/6

/*
#langMobile
  a
    dsp inline-grid
    fxjc center
    fxac center
    fs 16px
    &.active
      bc $color-01
      c $white
*/