.ui-input
.ui-select
  brd 1px $grey-03 solid
  fxd row
  fxai center
  mrgb ($mrg/2)
  pos relative

  input
  select
    bsiz content-box
    out none
    pdg $pdg
    w 22rem

  label
    w 8rem

  .ui-icon
    pos absolute auto
    rgt 2*$pdg

  &.ui-input-icon
    pdgr $pdg