fieldset
  mrg 2 * $mrg 0

  legend
    fs $fs-big
    fw $fw-bold
    mrgb $mrg

.ui-input
  fxd row
  fxai center
  mrgb ($mrg / 2)

  label
    w 8rem

  input
    brd 1px $grey-03 solid
    pdg $pdg
  
    &[type='checkbox']
      mrgl $mrg