.ui-input
.ui-select
  brdb 1px md-grey-300 solid
  mrgb ($mrg/2)

  &:last-child
    brdb none

  input
  select
    bsiz content-box
    out none
    pdg $pdg
    pos relative
    w 22rem

    &::-webkit-calendar-picker-indicator
      dsp none

  input[type='color']
    curs pointer
    w $icon-w

  input[type='submit']
    curs pointer
    w auto

  label
    dsp inline-block
    w 8rem

  .ui-icon
    pos absolute auto
    rgt 2*$pdg

  &.ui-input-icon
    pdgr $pdg

// input is wrapped when icon inside
.ui-input-wrapper
  dsp inline-block