.ui-list
  li
    brdb 1px md-grey-300 solid

    &:last-child
      brdb none
  
  a
    bc $white
    dsp block
    pdg $pdg

    &.active
      bc pink

  span
    va middle

  .ui-icon
    h 24px
    mrgr ($mrg / 2)
    w 24px
    va middle