#nav-mobile
  li
    pdg 1rem

  a
    fs $fs-big

  > ul > li > a
    fw $fw-bold

#navMain
  a
    bc $black
    brd 1px #555 solid
    c $white
    dsp block
    fs $fs-big
    fw $fw-thin
    pdg 1rem 0
    ws nowrap

    &.active
      fw $fw-bold