.ui-list
  fx 1
  pos relative

.ui-list ul
  fxd row

.ui-list a
  fx 1
  pdg $pdg ($pdg / 2)
    
.ui-list ul ul
  dsp none
  pos absolute 
  lft 0
  top 100%

  ul
    dsp none

.ui-list
  .active
    fw $fw-bold

    &+ ul
      dsp flex
