.ui-list
  fx 1
  pos relative

  ul
    fxd row
    
    a
      fx 1
      pdg $pdg ($pdg / 2)
      
      &.active
        fw $fw-bold

        & ~ ul
          dsp flex

    ul
      dsp none
      pos absolute 
      lft 0
      top 100%