.ui-slideshow
  h 18rem
  ovr hidden
  w 100%

  > figure
    h 100%
    pos relative

    figure
      pos absolute 0

      figcaption
        bc rgba(md-black, .8)
        c md-white
        pdg $pdg 2*$pdg
        pos absolute 0
        top auto

        h1
          fs $fs-big
          fw $fw-bold

/*
@keyframes slide
  0%, 21%
    trf translateX(0)
  25%, 46%
    trf translateX(-25%)
  50%, 71%
    trf translateX(-50%)
  75%, 100%
    trf translateX(-75%)
*/