.ui-table
  tbll fixed
  w 100%

  th
  td
    +above('m')
      ws nowrap
    
      &[data-date]
      &[data-currency]
      &:last-child
        pdgr 0

  thead
    pos absolute
    lft -9999px
    top -9999px
    
    +above('m')
      dsp table-header-group
      pos static

    th
      fs $fs-small
      ta left

      +above('m')  
        pdg $pdg 0 ($pdg / 2)
        pdgr $pdg 

  tbody
    dsp block

    +above('m')
      dsp table-row-group

    tr
      brad 5px
      brd 1px md-blue-50 solid
      dsp block
      
      mrg $mrg auto
      pos relative
      pdg $pdg

      +above('m')
        brad none
        brd none
        brdt 1px md-blue-50 solid
        dsp table-row

      td
        dsp block
        pos relative
        pdg ($pdg / 2)
        pdgt $fs

        +above('m')
          dsp table-cell
          pdg $pdg 0
          pdgr $pdg 

        &.right
          ta right

        &:after
          lft 0
          pos absolute
          cnt attr(data-lang-rendered)
          fs $fs-small
          fw $fw-bold
          top 0
          
          +above('m')
            dsp none

        &[data-currency]:before
          cnt attr(data-currency)
          txtt uppercase
          mrgr 3px

        /* &:last-child
          pos absolute
          top $mrg
          rgt $mrg
          pdg 0
        */

        img
          w $svg-w
          h $svg-h

          +above('m')
            pos absolute 0
            mrg auto
            w $svg-w
            h $svg-h