.ui-tabs
  // tabList
  > .ui-list
    li
      dsp inline-block

    a
      &[aria-selected='true']
        brd 1px md-blue-50 solid
        brdb none
        btlr 14px
        btrr 14px
        fw $fw-normal

  // tabPanels
  > .ui-html
    dsp none