// colors
$hoverDarkenAmount = 15

// layout
$pdg    = .8rem
$mrg    = .8rem
$w-cnt  = 90vw
$w-max  = 1050px

// font
$ff     = Frutiger
$fs     = 14px
$fs-big = 16px
$fs-small= 12px
$fw-thin= 300
$fw-normal=400
$fw-bold = 700

// svg
$svg-w = 32px
$svg-h = 32px
$svg-w-small = 24px
$svg-h-small = 24px

// icons
$icon-w = $svg-w
$icon-h = $svg-h