// colors
$black = #000
$white = #fff
$color-01 = md-blue-300
$grey-04 = md-grey-400

// layout
$pdg    = .8rem
$mrg    = .8rem
$w-cnt  = 90vw
$w-max  = 1050px

// font
$ff     = Arial
$fs     = 14px
$fs-big = 16px
$fs-small= 12px
$fw-thin= 300
$fw-normal=400
$fw-bold = 700

// svg
$svg-w = 48px
$svg-h = 48px
$svg-w-small = 24px
$svg-h-small = 24px

// icons
$icon-w = $svg-w
$icon-h = $svg-h
$icon-w-small = $svg-w-small;
$icon-h-small = $svg-h-small;

// ..rm.
$hoverDarkenAmount = 20%;