doctype html
html
  head
    title
    meta(
      charset = 'utf-8'
    )
    meta(
      name    = 'viewport'
      content = 'width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=2'
    )
    script(
      type    = 'module'
      src     = 'https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js'
    )
    script(
      nomodule= ''
      src     = 'https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js'
    )
    //- link(rel     = 'stylesheet' href    = '/assets/css/flexbox-reset.css') 
    link(
      rel     = 'stylesheet'
      href    = 'https://fonts.googleapis.com/icon?family=Material+Icons'
    )
    link(
      rel     = 'stylesheet'
      href    = 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap'
    )
    link(
      rel     = 'stylesheet'
      href    = '/assets/css/main.min.css'
    )
      
  body
    #ankh
    script(src= '/main.js')
    
